.idea/modules.xml
.idea/workspace.xml
.idea/vcs.xml
.idea/TensorFlow_tutorial.iml
.idea/misc.xml
Lesson_2/MNIST_data/train-labels-idx1-ubyte.gz
Lesson_2/MNIST_data/t10k-labels-idx1-ubyte.gz
Lesson_2/MNIST_data/t10k-images-idx3-ubyte.gz
Lesson_2/MNIST_data/train-images-idx3-ubyte.gz
